<header class="site-header">
  <div class="header-logo"><%= link_to 'Kenty_is_a_Pen', root_path %></div>
  <div class="menu1">Menu01</div>
  <div class="menu2">Menu02</div>
  <div class="menu3">Menu03</div>
</header>
<div class="header2">
  <div class="sub-menu"><img src="operation_menu1.png"></div>
</div>